<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
        Series
    </a>
    <ul class="dropdown-menu" id="series">
    </ul>
</li>